@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Estilos básicos */

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0%;
  background-color: #f5f5f5;
  background-image: url(drew-beamer-kUHfMW8awpE-unsplash.jpg);
}

/* Estilos para o catálogo */
#catalogo {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bg-ca {
  /* background-color: #2C4027; */
  background-image: linear-gradient(145deg, #2c4027 0%, #2e7d32 100%);
  padding: 20px 0;
}

.produto {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  width: calc(25% - 20px);
  margin-bottom: 20px;
  position: relative;
  transition: transform 0.3s ease;
}

/* Adicionando a regra para remover sublinhado dos links dentro dos produtos */
.produto a {
  text-decoration: none;
}

.produto:hover {
  transform: scale(1.05);
}

.produto h2 {
  margin-top: 0;
  color: #333;
  line-height: 1.5;
  font-size: 20px;
}

.imagem-produto {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ddd;
}

.preco {
  font-weight: bold;
  color: black;
}

.botao-comprar {
  background-color: #2c4027;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.botao-comprar:hover {
  background-color: #2e7d32;
}

/* Estilo para os balões */
.balao {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 12px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
}

/* Estilo para o balão do menu */
#balao-menu {
  top: 20px;
  left: 20px;
}

/* Estilo para o balão do carrinho */
#balao-carrinho {
  top: 20px;
  right: 20px;
}

/* Estilo para a bolinha vermelha */
.bolinha {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ff0000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
}

/* Estilo para os ícones nos balões */
.balao img {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.021);
  border: 2px solid #fff;
}

/* Efeito de crescimento (hover) */
.balao:hover {
  transform: scale(1.2);
}

/* Estilo para a mensagem dentro do balão */
.mensagem {
  display: none;
  position: absolute;
  top: 70px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 10px;
}

/* Mostrar a mensagem quando passar o mouse sobre o balão */
.balao:hover .mensagem {
  display: block;
}

/* Estilos para o rodapé */
footer {
  /* background-color: #2C4027; */
  color: white;
  padding: 20px 0;
  text-align: center;
  background-image: linear-gradient(145deg, #2c4027 0%, #2e7d32 100%);
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.conteudo {
  flex: 1;
  padding: 0 20px;
  margin: 20px;
}

.conteudo p {
  margin-bottom: 10px;
}

.redes-sociais {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes-sociais li {
  margin: 0 10px;
}

.redes-sociais li a {
  color: #fff;
  font-size: 24px;
}

.redes-sociais img {
  width: 40px;
  height: 40px;
}

.direitos {
  margin-top: 20px;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 18px !important;
  background-color: #ffffff;
  z-index: 1000;
}

.nav-item {
  margin: 0px 10px;
}

.nav-item .nav-link {
  font-weight: 500;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  background-color: #2c4027;
  width: 0%;

  height: 3px;
  transition: 0.4s ease-in-out;
}

.nav-item:hover .nav-link::after {
  width: 100%;
}

.logo {
  font-weight: 500 !important;
}

.btn-navbar {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  background-color: #2c4027;
  transition: 0.2s ease-in-out;
}

.btn-navbar:hover {
  background-color: transparent;
  color: #333;
  border: 1px solid #2c4027;
}

/* sobre nós */
#sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sobre-nos {
  text-align: center;
  color: #2c4027;
}

.sobre-nos h2 {
  padding-top: 20px;
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.sobre-nos p {
  font-size: 20px;
}

.card {
  width: 250px;
  /* largura dos cartões */
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: 0.5s ease-in-out;
}

.cardsg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card h3 {
  color: #2c4027;
}

.card:hover {
  transform: translateY(-5px);
  /* Elevação suave */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* Alteração na sombra */
}

/* catálogo */
.catalogo-main {
  margin: 60px 60px;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.catalogo-main h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

/* ava */

.ava-main {
  height: 100vh;
  margin-bottom: 60px;
}

.card-ava .user-ava {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.h2-ava {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 600;
  color: #2c4027;
}

.cards-ava {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 980px;
  margin: 60px auto;
  grid-gap: 40px;
}

.card-ava {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 10px;
  box-shadow: 6px 6px 15px #33333348;
  transition: 0.4s ease-in-out;
}

.card-ava:hover {
  transform: scale(1.1);
}

.card-ava h3 {
  margin-bottom: 5px;
}

.card-ava p {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

.star {
  width: 20px;
}

@media screen and (max-width: 1024px) {
    .btn-navbar {
      margin-top: 14px;
    }
  
    /*Banner do site*/
    .carousel-inner {
      margin-top: 70px;
    }
  
    /*"Sobre nós"*/
    .sobre-todo-conteudo {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .card-ava {
      flex-direction: column;
      display: flex;
      grid-template-columns: 1fr;
    }
  
    .card-ava {
      width: 150px;
      height: 680px;
      border-radius: 5%;
      margin-bottom: 20px;
    }
  
    /* Estilos para o catálogo */
    .produto {
      width: 50%;
    }
  }